aiofiles
aiogram==3.18.0
aiohttp
aiosignal
amqp
asgiref
attrs
billiard
celery
certifi
charset-normalizer
click
colorama
Django==5.1.6
django-ckeditor-5
django-cors-headers
django-modeltranslation
django-redis
django-rosetta
django-unfold
djangorestframework
djangorestframework_simplejwt
drf-spectacular
drf-spectacular-sidecar
flower
frozenlist
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-generativeai
googletrans
grpcio
grpcio-status
gunicorn
humanize
idna
inflection
jsonschema
kombu
magic-filter
multidict
pillow
platformdirs
polib
prometheus_client
psycopg2-binary
pydantic
PyJWT
python-dateutil
python-dotenv
pytz
PyYAML
redis
requests
rpds-py
sqlparse
tornado
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
yarl
openai
stripe